.additional-movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
}

.movies-addictional-cards {
    flex: 0 0 calc(20% - 20px); /* 5 itens por linha, com gap de 20px */
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.movies-addictional-cards:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.movie-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.movie-image-container img {
    width: 100%;
    height: auto;
}

h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}

.favorite-icon {
    position: absolute;
    background-color: rgba(108, 107, 107, 0.5);
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-color: red;
}

.favorite-icon img {
    width: 25px;
    height: 25px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #212121;
    background-color: #720c0c;
    cursor: pointer;
}

.pagination button.active {
    background-color: #2d2c2c0a;
    color: white;
    border-color: #007bff;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}