.additional-movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 20px;
}

.movies-addictional-cards {
    flex: 0 0 calc(20% - 20px); /* 5 itens por linha, com gap de 20px */
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.movies-addictional-cards:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.movie-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.movie-image-container img {
    width: 100%;
    height: auto;
}

h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}